{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="navbar-brand">Baruch Online Textbook Bulletin Board</li>
            <!-- <li><a href="/buyer">Buy a book instead?</a></li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-brand">{{ "Welcome "+ user_info['name']+"!"}}</li>
            <li> <a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
	<div class="container">
    {% if results %}
      <div class="page-header">
        <h1>Welcome!</h1>
        <p class="lead">Below is the list of books you have listed </p>
      </div>

      <h2 class="sub-header">Your Books</h2>
          <div class="table-responsive" class="highlight">
            <table  class="table table-hover">
              <thead>
                <tr class="success">
                  <!--th>#</th-->
                  <th>Book Description</th>
                  <th>Author</th>
                  <th>Edition</th>
                  <th>Class Code</th>
                  <th>Price</th>
                  <th>Last Modified</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
              {% for row in results %}
                <tr>
                  <!-- row id here-->
                  <td>{{ row['book_name']}}</td>
                  <td>{{ row['author']}}</td>
                  <td>{{ row['edition']}}</td>
                  <td>{{ row['course_name']}}</td>
                  <td>{{ row['price']|round(precision=2)}}</td>
                  <td>{{ row['last_modified_date']}} </td>
                  <td><a href="/seller_page/edit_post/{{ row['post_id'] }}">Edit </a></td>
                  <td><a href="/seller_page/delete_post/{{ row['post_id'] }}">Delete </a></td>
                </tr>
              {% endfor %}
               </tbody>
            </table>
          </div>   <!-- table div -->
     {% else %}
        <div class="page-header">
            <h1>Welcome!</h1>
        <p class="lead">You do not have any books listed.</p>
      </div>
     {% endif %}
      <!--<div class="row">
        <div class="col-md-3"><strong>Book Name</strong></div>
        <div class="col-md-1"><strong>Code</strong></div>
        <div class="col-md-3"><strong>Class Description</strong></div>
        <div class="col-md-1"><strong>Price</strong></div>
        <div class="col-md-2"><strong>Last Modified On</strong></div>
        <div class="col-md-1"><strong>Edit/Delete</strong></div>
      </div>
    -->

    <h3>Click <a href="/seller/add_book">here </a>to add a new listing</h3>


    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</div>
{% endblock %}